{% extends 'base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shoping Cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to your shopping cart</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <div class="container">
        <!--{{ cart_products }}-->
        {% if cart|length == 0 %}
            <div class="container">
                <center>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <p>It looks like your shopping cart is empty...</p>
                </center>
            </div>
        {% else %}
            {% for product in cart_products %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <center>
                                {% if product.is_sale %}
                                <!-- Sales badge -->
                                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                        Sale
                                    </div>
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <br/>
                                    <p class="card-text">{{ product.description }}</p>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <p class="card-text"><small class="text-body-secondary"><s>${{ product.price }}</s></small></p>
                                    <p class="card-text"><small class="text-body-secondary">${{ product.sale_price }}</small></p>
                                {% else %}
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <br/>
                                    <p class="card-text">{{ product.description }}</p>
                                    <p class="card-text"><small class="text-body-secondary">${{ product.price }}</small></p>
                                {% endif %}
                                <br/>
                                <br/>
                                <div class="row justify-content-center">
                                    <div class="col-md-2">Quantity:</div>
                                    <div class="col-md-2">
                                        <select class="form-select form-select-sm" id="select{{product.id}}">
                                            {% for key, value in quantities.items %}
                                                <!--Slugify turns value into a string-->
                                                {% if key == product.id|slugify %}
                                                <option selected>{{ value }}</option>
                                                {% endif %}
                                            {% endfor %}
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="2">4</option>
                                            <option value="3">5</option>
                                        </select>
                                    </div>
                                </div>
                                <!--Update quantity of item in cart button-->
                                <br/>
                                <br/>
                                <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Update</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

<script>
    // Using same code as product.html, with some changes
    // Check if the button was pressed
    $(document).on('click', '.update-cart', function(e){
            e.preventDefault();
            //Grab the product id
            const productId = $(this).data('index');
            // Use Ajax to send info to backend without refreshing the webpage
            $.ajax({
                type: 'POST',
                url: "{% url 'cart_update' %}",
                data: {
                    product_id: $(this).data('index'),
                    product_qty: $('#select' + productId + ' option:selected').text(), // Note the space before option is required. The space is necessary to correctly select the <option> element.
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function(json){
                    console.log(json)
                    //document.getElementById("cart_quantity").textContent = json.qty
                    location.reload();
                },

                error: function(xhr, errmsh, err){

                }


            });
        });
</script>

{% endblock %}