{% extends 'base.html' %}

{% block content %}
<!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Esad</h1>
                <p class="lead fw-normal text-white-50 mb-0">Take a look at my story</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae eros lorem. Morbi tincidunt libero luctus urna egestas hendrerit. Donec vel malesuada arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam enim metus, pretium non justo vitae, ornare pharetra nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula finibus eros et semper. Vestibulum ut pharetra lacus. Aenean nunc odio, scelerisque ac faucibus eget, maximus id massa. Nullam porta laoreet dapibus. Praesent non blandit augue.
                        <br/>
                        <br/>
                        Donec mollis nulla sed lectus mollis, congue iaculis elit feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec fringilla est nec scelerisque aliquam. Nulla vulputate quis massa elementum tempus. Aenean tincidunt magna eu dapibus tincidunt. Ut scelerisque, ligula ac tempus dictum, ante velit commodo urna, consectetur scelerisque purus lorem vitae justo. Fusce ac nisl vitae erat semper pretium. Nunc eu commodo nibh. Maecenas iaculis dictum sollicitudin. Aenean eget turpis tempus, dictum erat vel, molestie enim. Praesent dignissim interdum pretium. Suspendisse augue magna, imperdiet ut ex ut, faucibus ornare arcu. Curabitur feugiat dui id elit scelerisque, at luctus leo aliquam. Aenean bibendum gravida libero eget mollis. Curabitur dictum dolor enim. Cras faucibus eleifend mollis.
                        <br/>
                        <br/>
                        Integer nisi sem, egestas euismod sem sit amet, semper consequat quam. Maecenas suscipit est est, in suscipit ipsum pulvinar nec. Aliquam erat volutpat. Duis sit amet tortor a urna cursus viverra in aliquet turpis. Duis quis nulla ante. Proin mattis fringilla dui sed blandit. Curabitur vel fringilla velit. Nulla ac arcu sodales, varius ante eget, interdum erat. Ut sed tincidunt nibh. Aliquam viverra convallis mollis. Curabitur at ligula purus.
                        <br/>
                        <br/>
                        Donec sodales sagittis tristique. Phasellus velit dolor, pulvinar id lacinia quis, convallis sed orci. Nunc sed ante eget orci varius luctus. Duis justo purus, tempus non condimentum sit amet, condimentum id nunc. Nulla lobortis pulvinar nisl quis accumsan. Morbi mollis nulla vel tristique suscipit. Etiam at vulputate nulla. Quisque dignissim mi in ante luctus, nec euismod ligula cursus.
                        <br/>
                        <br/>
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis aliquet quis leo consequat maximus. Pellentesque tempus dignissim mauris, eu varius ligula iaculis ut. Suspendisse malesuada odio vel dolor porta, eu ornare velit lobortis. Mauris scelerisque, quam eu convallis pulvinar, enim arcu pellentesque lacus, id pellentesque mauris nulla vel magna. Aliquam tempor, turpis tempus pulvinar maximus, mi ante elementum enim, ut varius tortor odio tempus orci. Nulla a erat eget augue volutpat rhoncus. Morbi sed dapibus quam.
                        <br/>
                    </p>
                </div>
            </center>
        </div>
    </div>

{% endblock %}